:root {
    --green-100: #dcfce7;
    --green-700: #15803d;
    --red-100: #fee2e2;
    --red-700: #b91c1c;
    --purple-100: #f3e8ff;
    --purple-700: #7e22ce;
    --orange-100: #ffedd5;
    --orange-700: #c2410c;
    --neutral-100: #f5f5f5;
    --neutral-700: #404040;
    --slate-100: #f1f5f9;
    --slate-700: #334155;
    --amber-100: #fef3c7;
    --amber-700: #b45309;
    --blue-100: #dbeafe;
    --blue-700: #1d48d8;
    --pink-100: #fce7f3;
    --pink-700: #be185d;
}

:root {
    --tag-fg-default: var(--slate-700);
    --tag-bg-default: var(--slate-100);
    
    --tag-fg-terraform: var(--purple-700);
    --tag-bg-terraform: var(--purple-100);

    --tag-fg-python: var(--green-700);
    --tag-bg-python: var(--green-100);

    --tag-fg-aws: var(--orange-700);
    --tag-bg-aws: var(--orange-100);

    --tag-fg-ops: var(--red-700);
    --tag-bg-ops: var(--red-100);

    --tag-fg-mlops: var(--amber-700);
    --tag-bg-mlops: var(--amber-100);

    --tag-fg-ml: var(--blue-700);
    --tag-bg-ml: var(--blue-100);

    --tag-fg-ci-cd: var(--pink-700);
    --tag-bg-ci-cd: var(--pink-100);
}