{% macro preview(post) -%}
	<li class="showcase-card showcase-post h-entry">
		<a href="{{ post.url }}" class="showcase-spread u-url u-uid">
			<h3 class="p-name">{{ post.title }}</h3>
		</a>
		<p class="preview-meta">
			<time datetime="{{ post.date | date }}" class="dt-published">{{ post.date | date('HUMAN_DATE') }}</time>
			✦ {{ post.readingInfo.minutes }} min read
		</p>
		<p class="p-summary">{{ post.desc }}</p>
		<p class="showcase-readmore"><a href="{{ post.url }}">read more&nbsp;→</a></p>
	</li>
{%- endmacro %}

{% macro subscribe() -%}
{%- endmacro %}
