{% macro wave(inverse=true) -%}
<fu-wave
style="
--repeat: 5;
--shape-height: 5px;
--stroke-width: 2.5px;
--offset-x: 12.31;
--stroke-color: #e8e8e8;
--bg-color: #f5f5f5;
--fg-color: {% if inverse %}#eaeaea{% else %}#f5f5f5{% endif %};
--offset-y: {% if inverse %}25{% else %}-40{% endif %};
"
></fu-wave>
{%- endmacro %}
