{% macro wave(inverse=true) -%}
<fu-wave
style="
--repeat: 5;
--shape-height: 5px;
--stroke-width: 2.5px;
--offset-x: 12.31;
--stroke-color: #e8e8e8;
--lower-color: var(--color-bg);
--upper-color: {% if inverse %}var(--color-bg2){% else %}var(--color-bg){% endif %};
--offset-y: {% if inverse %}25{% else %}-40{% endif %};
"
></fu-wave>
{%- endmacro %}
