.contact-btn {
    display: flex;
    justify-content: center;
}
.contact-btn a{
    background-color: var(--secondary);
    color: white;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    font-weight: 600;
}

.contact-btn span{
    padding: 5px 40px;
    display: flex;
    justify-content: center;
}
.contact-btn__hover{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transition: bottom 0.25s;
}
.contact-btn__placeholder {
    visibility: hidden;
}

@media(hover:hover){
    .contact-btn a:hover .contact-btn__hover {
        bottom: -100%;
    }
}