nav.toc {
    position: sticky;
    top: 33%;
    padding: 1.4rem;
    color: var(--color-fg);
}
nav.toc span {
    opacity: 0.5;
    font-weight: bold;
}
nav.toc > ol {
    padding-left: 2ch;
}

nav.toc a{
    text-decoration: none;
    color: inherit;
}
nav.toc a:hover{
    text-decoration: none;
    color: var(--color-accent2);
}

div.post__body{
    display: grid;
    grid-template-columns: 1fr 48rem 1fr;
}

nav.toc a.active {
    font-weight: bold;
    color: var(--color-accent2);
}